# コード整形・Lint
black
covdefaults>=2.2
coverage
flake8
ipywidgets
isort
jupyterlab
matplotlib
notebook
onnx
onnxruntime

# 機械学習 / モデル作成
opencv-python
pillow
# 開発用ツール
pre-commit
pytest
pytest-env
pyupgrade

# YAMLファイル処理
pyyaml
rich
torch
torchvision
tox
